@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: steelblue;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Roboto:wght@100, Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
    .container{
        background-color: rgba(0,0,0,0.4);
        padding: 20px 40px;
        border-radius: 5px;
        .form-control{
         position: relative;
         margin:20px 0 40px;
         width:300px;
         input{
            background-color: transparent;
            border:0;
            border-bottom:2px solid #fff ;
            display: block;
            width:100%;
            padding: 15px 0;
            font-size:18px;
            color:white;
         }
         
         label{
            position: absolute;
            top:15px;
            left: 0;
            span{
                display: inline-block;
                font-size: 18px;
            }
         }
         input:focus,input:valid{
             outline: 0;
         }
        
        
        }
        h1{
            text-align: center;
            margin-bottom: 30px;
        }
        p{
            margin-top: 30px;
            a{
            text-decoration:none ;
            color: lightblue;
        }
        }
         
       button{
            border-radius:inherit;
            box-shadow: 0px 0px 1px 1px black;
            cursor: pointer;
            display: inline-block;
            width: 100%;
            background-color: lightblue;
            padding: 15px;
            font-family: inherit;
            font-size: inherit;
            border: 0;
        } 
        button:focus{
            outline:0;
        }
        button:active{
            transform: scale(0.96);
            transition: transform 0.2s linear;
            box-shadow: 0px 0px 0.7px 1px black;
        }
        .form-control input:focus + label span,form-control input:valid +  label span{
         color: lightblue;
         transform:translateY(-30px) rotate(-30deg);
         transition: transform 0.5s cubic-bezier(0.68,-055,0265,1.55);
         letter-spacing: 3px;
        }
        
    }
}
